.img {
  width: 100%;
  border-radius: 5px;
  height: 190px;
}

.img-sub {
  color: rgb(112, 109, 109);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img-sub a {
  font-weight: bold;
}
.img-sub h4 {
  color: black;
}

.img-sub-rate {
  display: flex;
  gap: 15px;
  align-items: center;
}

.img-sub-rate :first-child {
  padding: 3px;
  background-color: blue;
  color: white;
}

.scale {
  width: 24%;
}
